<div class="container">
    <h1 class="text-white text-center">Registro Empleados</h1>
    <hr class="text-white">


    <form>
        <div>
            <h3 class="text-white text-center">Datos Personales </h3>
            <div class="row">
                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label text-white" aria-hidden="true">Nombre y Apellidos</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label text-white">Numero de Identificación</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <label for="exampleInputPassword1" class="form-label text-white">Edad</label>
                <input type="number" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-3">
                <label for="disabledSelect" class="form-label text-white">Sexo</label>
                <select id="disabledSelect" class="form-select">
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
            <div class="col-3">
                <label for="exampleInputPassword1" class="form-label text-white">Dirección</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-3">
                <label for="exampleInputPassword1" class="form-label text-white">Telefono</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <hr class="text-white">
        <div>
            <h3 class="text-white text-center">Seguridad Social</h3>

            <div class="row">
                <div class="col-4">
                    <label for="disabledSelect" class="form-label text-white">EPS</label>
                    <select id="disabledSelect" class="form-select">
                        <option>EPS Sanitas</option>
                        <option>EPS SURA</option>
                        <option>Salud Total</option>
                        <option>Nueva EPS</option>
                        <option>Famisanar</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="disabledSelect" class="form-label text-white">ARL</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Sura</option>
                        <option>Positiva</option>
                        <option>Bolívar</option>
                        <option>La Equidad</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="disabledSelect" class="form-label text-white">Pensión</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Protección S.A.</option>
                        <option>Porvenir S.A.</option>
                        <option>Colfondos</option>
                        <option>Old Mutual</option>
                    </select>
                </div>

            </div>
            <hr class="text-white">

            <div>
                <h3 class="text-white text-center">Información Bancaria</h3>
                <div class="row">
                    <div class="col-6">
                        <label for="disabledSelect" class="form-label text-white">Banco</label>
                        <select id="disabledSelect" class="form-select">
                            <option>Bancolombia</option>
                            <option>Davivienda</option>
                            <option>BCSC</option>
                            <option>BBVA</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="exampleInputPassword1" class="form-label text-white">Numero Cuenta</label>
                        <input type="number" class="form-control" id="exampleInputPassword1">
                    </div>

                </div>
            </div>
        </div>

        <hr class="text-white">
        <div class="position-relative">
            <button type="submit" class="btn btn-primary
            position-absolute top-50 start-50 translate-middle-x">Guardar Datos</button>
        </div>
        <br>
        <br>
        <hr class="text-white">

        <div>
            <h3 class="text-white text-center">Beneficiarios</h3>
            <div class="row">
                <div class="col-6">
                    <label for="exampleInputPassword1" class="form-label text-white">Numero Identificación</label>
                    <input type="number" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="col-6">
                    <label for="exampleInputPassword1" class="form-label text-white">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <label for="exampleInputPassword1" class="form-label text-white">Edad</label>
                    <input type="number" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="col-4">
                    <label for="disabledSelect" class="form-label text-white">Sexo</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="disabledSelect" class="form-label text-white">Parentesco</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Esposo(a)</option>
                        <option>Hijo(a)</option>
                        <option>Padre</option>
                        <option>Madre</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="position-relative">
                <button type="submit" class="btn btn-primary
                position-absolute top-50 start-50 translate-middle-x">Agregar Beneficioario</button>
            </div>
            <br>
            <br>
            <hr class="text-dark">

        </div>
        <div class="position-relative">
            <button (click)="guardarEmpleado()" type="submit" class="btn btn-primary
            position-absolute top-50 start-50 translate-middle-x">Finalizar</button>
        </div>

    </form>
    <br>
    <br>
</div>