<div class="row">
    <div class="card card-estilo centrar col-6" style="width: 18rem;">
        <img src="assets/img/addPerson.svg" class="card-img-top" alt="agregarPersona">
        <button (click)="agregarEmpleado()" type="button" class="btn btn-outline-primary btn-block">Agregar Empleado</button>
    </div>

    <div class="card card-estilo centrar col-6" style="width: 18rem;">
        <img src="assets/img/addPerson.svg" class="card-img-top" alt="agregarPersona">
        <button (click)="generarContrato()" type="button" class="btn btn-outline-primary btn-block">Agregar Empleado</button>
    </div>
</div>