body {
    background-image: url(assets/img/fondoPrincipal.jpg);
    display: flex;
    justify-content: center;
}

.container_principal {
    width: 700px;
    padding: 30px;
}

.centrar {
    text-align: center;
}

label {
    color: ffffff;
}

div a {
    text-decoration: none;
}